{% extends 'base.html' %}

<head>
<style>
    .container1 {
        height: 85px;
        position:relative;
        border: 3px solid rgb(255, 255, 255);

    }

    .container {
        height: 200px;
        position: relative;
        border: 3px solid rgb(255, 255, 255);
    }

    .h1 {
        transform: translateX(5%);
    }

    .center {
        margin: 0;
        position: absolute;
        left:50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>


{% block head %}
<div class="header">
    <h2>NFTickets</h2>
  <a href="/"><button>Home</button></a>
</div>
</head>
{% endblock %}
{% block body %}
<body>

    <!--
<button class="button">I have a seller wallet</button>
<button class="button">I need a seller wallet</button>
    -->

    <div class="container">
        <div class="center">
            
            <a href="/seed/"><button style="height: 50px; width: 240px">I have a seller wallet</button></a>
            <a href="/create/"><button style="height: 50px; width: 240px">I need a seller wallet</button></a>
            
        </div>
    </div>


</body>
{% endblock %}