<!DOCTYPE html>
<html>
<head>
<style>
    .container1 {
        height: 85px;
        position:relative;
        border: 3px solid blue;

    }

    .container {
        height: 200px;
        position: relative;
        border: 3px solid green;
    }

    .center {
        margin: 0;
        position: absolute;
        left:50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<div class="container1"> 
        <h1>NFTix</h1>
</div>

</head>
<body>

    <!--
<button class="button">I have a seller wallet</button>
<button class="button">I need a seller wallet</button>
    -->

    <div class="container">
        <div class="center">
            <button>I have a seller wallet</button>
            <button>I need a seller wallet</button>
            
        </div>
    </div>


</body>
</html>