<!DOCTYPE html>
<html>
<head>
<style>
    .container1 {
        height: 85px;
        position:relative;
        border: 3px solid red;

    }

    .container {
        height: 200px;
        position: relative;
        border: 3px solid red;
    }

    .h1 {
        transform: translateX(5%);
    }

    .center {
        margin: 0;
        position: absolute;
        left:50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<div class="container1"> 
    <div class="h1">
        <h1>NFTix</h1>
</div>
</div>

</head>
<body>

    <!--
<button class="button">I have a seller wallet</button>
<button class="button">I need a seller wallet</button>
    -->

    <div class="container">
        <div class="center">
            
            <button onclick="location.href='seed.html'" style="height: 50px; width: 240px">I have a seller wallet</button>
            <button style="height: 50px; width: 240px">I need a seller wallet</button>
            
        </div>
    </div>


</body>
</html>