{% extends 'base.html' %}

{% block head %}
<title>NFTickets</title>
{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="header">
      <h2><strong>NFTickets</strong></h2>
      <a href="/choice/"><button>Create Event</button></a>
    </div>
    <body>
    <div class="left" style="background-color:#aaa;">
    
        {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no scheduled events at the moment. Fill out the form below to get your event approved!</h4>
        {% else %}

        
        <table>
            {% for task in tasks %}
            <tr>
                <div class="grid-container">
                    <div class="left" style="background-color:#aaa;">
                        <div class="container">
                            <h2 style="text-align: left">{{ task.content }}</h2>
                            <h5 margin="0px">Date: {{ task.date_created }}     ${{ task.ticket_price }} per ticket</h5>
                            <p style="text-align: left"> 
                                {{ task.description }}
                            </p>
                        </div>
                    </div>
                    <div class="right" style="background-color:#aaa;">
                        <p style = "text-align: center">
                        <a href="/purchase/{{task.id}}"><button><img src="https://raw.githubusercontent.com/micahborg/ticket_system/master/templates/Button.png" alt="PURCHASE" height=45px width=100px></img></button></a> 
                        </p>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </table>    
        
        <!--
        <table>
            <tr>
                <th>Events</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        -->
        {% endif %}
    
    </div>
    <div class="right" style="background-color:#ccc;">
    
        <strong>Why NFTickets?</strong>
        <p>A more efficient and fair ticketing service. NFTickets <br>
            manages to prioritize both the customers and the <br>
            organizers though customizable rules not possible with <br>
            current ticket standards. It does so by discouraging <br>
            resale scams, and returning a percentage of all allowed <br>
            resales.
        </p>
        <strong>About XRPL</strong>
        <p>NFTickets utilizes XRP Ledger to sell tickets in the  <br>
            form of NFTs. This format is what allows for such maleuable <br>
            termswhich benefits the common person.
        </p>
    
    </div>
    </body>
    <div class="footer">
    <p>KU Hackathon 2023 - Aaron, Chris, Connor, and Micah</p>    
    </div>
  </div>
{% endblock %}