{% extends 'base.html' %}

{% block head %}
<title>NFTickets</title>
{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="header">
      <h2>NFTickets</h2>
      <a href="/choice/"><button>Create Event</button></a>
    </div>
    
    <div class="left" style="background-color:#aaa;">
    
        {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no scheduled events at the moment. Fill out the form below to get your event approved!</h4>
        {% else %}

        
        <table>
            {% for task in tasks %}
            <tr>
                <div class="grid-container">
                    <div class="left" style="background-color:#aaa;">
                        <div class="container">
                            <h2 style="text-align: left">{{ task.content }}</h2>
                            <h5 margin="0px">Date: {{ task.date_created }}     ${{ task.ticket_price }} per ticket</h5>
                            <p style="text-align: left"> 
                                {{ task.description }}
                        </div>    
                        </p>
                    </div>
                    <div class="right" style="background-color:#aaa;">
                        
                        <a href="/delete/{{task.id}}" style="text-align: center">Delete</a>
                        <br>
                        <a href="/purchase/{{task.id}}"><button>Purchase</button></a>
                            
                    </div>
                </div>
            </tr>
            {% endfor %}
        </table>    
        
        <!--
        <table>
            <tr>
                <th>Events</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        -->
        {% endif %}
    
    </div>
    <div class="right" style="background-color:#ccc;">
    
        Text About Our Project
    
    </div>
    
    <div class="footer">
    <p>Contact info etc.</p>    
    </div>
  </div>
{% endblock %}