{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="header">
        <h2>NFTickets</h2>
      <a href="/"><button>Home</button></a>
    </div>
    <div class="left" style="background-color:#aaa;">    
        <h1 style="text-align: center">Purchase</h1>

        <div class="form">
            <form action="/purchase/{{task.id}}" method="POST">
                <input type="text" name="content" id="content" value="wallet seed here">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
    <div class="right" style="background-color:#ccc;">
    
        Text About Our Project
    
    </div>
    
    <div class="footer">
        <p>Contact info etc.</p>    
    </div>
</div>
{% endblock %}







