{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="header">
        <h2>NFTickets</h2>
      <a href="/"><button>Home</button></a>
    </div>
    <div class="left" style="background-color:#aaa;">    
        <h1 style="text-align: center">Purchase Tickets to {{ task.content }}</h1>

        <div class="form">
            <form action="/purchase/{{task.id}}" method="POST">
                <input type="text" name="first" id="first" value="first">
                <input type="text" name="last" id="last" value="last">
                <input type="text" name="seed" id="seed" value="wallet seed here">
                <input type="text" name="uniqueID" id="uniqueID" value="uniqueID">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
    <div class="right" style="background-color:#ccc;">
    
        <h2 style="text-align: left">{{ task.content }}</h2>
        <h5 margin="10px">{{ task.date_created }} {{ task.ticket_price }}</h5>
        <h5 margin="0px">Date: {{ task.date_created }}     ${{ task.ticket_price }} per ticket</h5>
        <p style="text-align: left"> 
        {{ task.description }}
    
    </div>
    
    <div class="footer">
        <p>Contact info etc.</p>    
    </div>
</div>
{% endblock %}







